-csf
-user pfeuh
-mail ze.pfeuh@gmail.com
-create_shared_functions
-d
-b FunctionsBlackList.txt
#
# -csf if present, create the file project_path/sharedFunctions.h containing empty functions
# -user [user_name] not mandatory, used by open source licence text
# -mail [mail_of_user] not mandatory, used by open source licence text
# -tef [fname] use template file fname to create edit functions
# -tf [fname] use template file fname to create functions
# -d if present, create a debug file menuDebug.txt containing family nodes
# -b if present, create a list of functions already in the application
